/* Wygląd strony nowa karta i karta początkowa*/
@-moz-document url("about:newtab"), url("about:home") {
    /* Klasa obejmująca całą stronę, znajduje się w <body> */
    .activity-stream {
        background-image: url("img/w.png") !important;
    }

    /* Kontener pola wyszukiwania */
    .search-inner-wrapper {
        opacity: 25%;
    }

    /* Sekcja z najczęściej odwiedzanymi stronami (?) */
    .body-wrapper {
        margin-top: 50%;
    }

    /* Tło najczęściej odwiedzanych stron */
    .tile {
        background: none !important;
    }

    /* Tło samej ikony*/
    .top-site-icon { 
        background-color: transparent !important; 
    }    

    /* Tło samej ikony po najechaniu*/
    .top-site-outer:hover {
        background: none !important;
    }
}