/* Deklaracje */
:root {
    --bg1: rgb(140, 221, 124);
    --bg2: rgb(98, 181, 102);
    --txt: rgb(156,13,187);
}


/* Klasa pojedyńczej zakładki */
.bookmark-item {
    color: var(--txt);
}
.bookmark-item:hover {
    color: var(--txt) !important;
}

/* Ikona prywatności */
#tracking-protection-icon {
    stroke: var(--txt) !important;
}

/* Menu otwierane po wciśnięciu alt */
#toolbar-menubar {
    display: none;
}

/* Pasek zakładek z menu ostatnio przeglądane oraz pokaż wszystkie karty */
.toolbar-items {
    display: none;
}

/* Przerwa między pokaż wszystkie karty a minimalizuj */
.titlebar-spacer {
    display: none;
}

/* Rząd kart w paskach nawigacji */
#TabsToolbar {
    width: max-content;
    display: flex;
    align-self: flex-end;
}

/* Menu otwierane ppm na paskach nawigacyjnych */
.scrollbox-clip {
    background-color: var(--bg1);
}

/* Rząd nawigacji */
#nav-bar {
    margin-top: -40px;
    max-width: calc(100% - 138px);
    display: flex;
    background-color: var(--bg1) !important ;
}

/* Zbiór rzędu nawigacji, rzędu zakładek i rzędu kart */
#navigator-toolbox {
    display: flex;
    background-color: var(--bg1) !important ;
}

/* Kontener z przyciskiem minimalizacji, maksmalizacji i zamknij */
.titlebar-buttonbox-container {
    height: 40px;
}

/* Rząd zakładek */
#PersonalToolbar {
    background-color: var(--bg1) !important ;
}

/* Kontener pola adresu strony  */
#urlbar-container{
    color: var(--txt) !important;
}

/* Pole adresu strony */
#urlbar-input {
    color: var(--txt) !important;
}

/* Tło pola adresu strony */
#urlbar-background {
    background-color: var(--bg2) !important ;
}

/* Tree Style Tab główny kontener */
#sidebar-box {
    width:5% !important;
}

/*Nagłówek Tree Style Tab*/
#sidebar-header {
    display: none;
  }

.normal-tabs-container scrollbar{
    display: none;
}

/* Resultaty szukania w pasku wyszukiwania */
#urlbar-results {
    color: var(--txt) !important;
}

/* Pasek wyszukiwania gdy jest w focusie */
.urlbarView {
    background-color: var(--bg1);
}

/* Tło zakładek TST */
#virtual-scroll-container {
    background-color: var(--bg1) !important;
}


#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]{
    min-width: 30px !important;
    max-width: 30px !important;
    transition-duration: 0.4s;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover{
    min-width: 200px !important;
    max-width: 200px !important;
    transition-duration: 0.4s;
}

/* .twisty[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover{
    display: contents;
} */

.menupopup-arrowscrollbox {
    background-color: var(--bg1) !important;
}

menuitem:hover {
    background-color: var(--bg2) !important;
}

.tab.active {
    background-color: var(--bg1) !important;
}